<!DOCTYPE HTML>
<html>
<head>
    <title>Smart City Reporting System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            background-color: rgb(210, 255, 200);
        }
        h1 {
            font-family: sans-serif;
            color: blue;
            text-align: center;
        }
        div {
            font-family: monospace;
            font-size: 20px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<h1>Thank you for reporting an issue!</h1>
<div>It will be addressed as soon as possible. <a href="/report">Report another?</a></div>
</body>
</html>
